@inject NavigationManager nv
@page "/nv"
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">TestCrud</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Loguin" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Loguin
            </NavLink>
        </li>
       
        <li class="nav-item px-3" id="navuno" style="display:none">
            <NavLink class="nav-link" href="tipoUsuarioComponent">
                <span class="oi oi-plus" aria-hidden="true"></span> TipoUsuarioComponent
            </NavLink>
        </li>
        <li class="nav-item px-3" id="navdos" style="display:none">
            <NavLink class="nav-link" href="usuarioComponent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> usuarioComponent
            </NavLink>
        </li>


    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
